/dist
/build/build.number
/build/temp
/build/requires.txt
/lib
settings.xml
.project
WEB-INF
tests/results
tests/work
Icon?
src/cfml/logs
build/launch4j
tests/testbox
/mxunit
/apidocs/CommandBox-CommandDocs/
build-local.properties
build/resources
